.border-right {
  border-right: 1px solid #c6c6c6;
}

.border-top {
  border-top: 1px solid #c6c6c6;
}

.border-bottom {
  border-bottom: 1px solid #c6c6c6;
}

.button-pulse {
  animation: pulse-button 1.5s infinite;
}

.fixed-sidenav {
  position: fixed;
  right: 0;
  top: 0;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  border-left: 2px solid #a8a8a8;
}

.hover-item:hover {
  background-color: #f4f4f4;
}

.sum-box {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.item-image {
  width: 18rem;
  height: auto;
}

@media only screen and (max-width: 1185px) {
  .item-image {
    width: 16rem;
    height: auto;
  }
}

@media only screen and (max-width: 1055px) {
  .fixed-sidenav {
    position: fixed;
    bottom: 0;
    height: 24rem;
    width: 100%;
  }

  .item-image {
    width: 25rem;
    height: auto;
  }

  .margin-res-top {
    margin-top: 3rem;
  }

  .border-bottom-res {
    border-bottom: 2px solid #8d8d8d;
  }

  .margin-l-r-res {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .res-top {
    top: 0;
    position: fixed;
    height: calc(100% - 24rem);
    overflow-x: hidden;
    margin-top: 24rem;
    border-top: 2px solid #8d8d8d;
  }

  .margin-res {
    padding-bottom: 5rem;
  }
}

@keyframes pulse-button {
  0% {
    box-shadow: 0 0 0 0 rgba(57, 57, 57, 3);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
