.Cards {
  display: flex;
  display: inline-flex;
  background-color: gray;
  height: 15rem;
  width: 18rem;
  margin: 2rem;
  margin-top: 1rem;
  margin-left: 3rem;
  border-radius: 2%;
  justify-content: center;
}

.ProductTitle {
  color: black;
}
