.Cards {
  background-color: gray;
  min-width: 25%;
  height: 15rem;
  display: inline-flex;
  margin-top: 4rem;
  margin-inline: 2rem;
  margin-left: 5rem;
  border-radius: 2%;
}

.Card {
  justify-content: center;
  color: red;
}
