.Cards {
  display: flex;

  justify-content: center;
  justify-items: center;
  background-color: #fff;
  height: 18rem;
  width: 18rem;
  margin: 2rem;
  margin-top: 1rem;
  margin-left: 3rem;
  border-radius: 2%;
}

.ProductTitle {
  color: black;
  margin-top: 2rem;
}

.PicturePreview {
  max-width: fit-content;
  max-height: 10rem;
}
.border-left {
  border-right: 1px solid #c6c6c6;
}
.border-right {
  border-right: 1px solid #c6c6c6;
}
